/*imports*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

/*set html variables*/

html {
    --background-color: hsl(222, 26%, 31%);
    --key-pad: hsl(223, 31%, 20%);
    --screen: hsl(224, 36%, 15%);
    --reset-key-color: hsl(225, 21%, 49%);
    --reset-key-shadow: hsl(224, 28%, 35%);
    --key-color: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --equal-key-color: hsl(6, 63%, 50%);
    --equal-key-shadow: hsl(6, 70%, 34%);
    --first-option: hsl(6, 63%, 50%);
    --second-option: transparent;
    --third-option: transparent;
    --font-color: hsl(0, 0%, 100%);
    --key-font-color: hsl(221, 14%, 31%);
    --reset-font-color: hsl(0, 0%, 100%);
    --equal-font-color: hsl(0, 0%, 100%);
}

html[data-theme="first"] {
    --background-color: hsl(222, 26%, 31%);
    --key-pad: hsl(223, 31%, 20%);
    --screen: hsl(224, 36%, 15%);
    --reset-key-color: hsl(225, 21%, 49%);
    --reset-key-shadow: hsl(224, 28%, 35%);
    --key-color: hsl(30, 25%, 89%);
    --key-shadow: hsl(28, 16%, 65%);
    --equal-key-color: hsl(6, 63%, 50%);
    --equal-key-shadow: hsl(6, 70%, 34%);
    --first-option: hsl(6, 63%, 50%);
    --second-option: transparent;
    --third-option: transparent;
    --font-color: hsl(0, 0%, 100%);
    --key-font-color: hsl(221, 14%, 31%);
    --reset-font-color: hsl(0, 0%, 100%);
    --equal-font-color: hsl(0, 0%, 100%);
}

html[data-theme="second"] {
    --background-color: hsl(0, 0%, 90%);
    --key-pad: hsl(0, 5%, 81%);
    --screen: hsl(0, 0%, 93%);
    --reset-key-color: hsl(185, 42%, 37%);
    --reset-key-shadow: hsl(185, 58%, 25%);
    --key-color: hsl(45, 7%, 89%);
    --key-shadow: hsl(35, 11%, 61%);
    --equal-key-color: hsl(25, 98%, 40%);
    --equal-key-shadow: hsl(25, 99%, 27%);
    --first-option: transparent;
    --second-option: hsl(25, 98%, 40%);
    --third-option: transparent;
    --font-color: hsl(60, 10%, 19%);
    --key-font-color: hsl(60, 10%, 19%);
    --reset-font-color: hsl(0, 0%, 100%);
    --equal-font-color: hsl(0, 0%, 100%);
}

html[data-theme="third"] {
    --background-color: hsl(268, 75%, 9%);
    --key-pad: hsl(268, 71%, 12%);
    --screen: hsl(268, 71%, 12%);
    --reset-key-color: hsl(281, 89%, 26%);
    --reset-key-shadow: hsl(285, 91%, 52%);
    --key-color: hsl(268, 47%, 21%);
    --key-shadow: hsl(290, 70%, 36%);
    --equal-key-color: hsl(176, 100%, 44%);
    --equal-key-shadow: hsl(177, 92%, 70%);
    --first-option: transparent;
    --second-option: transparent;
    --third-option: hsl(176, 100%, 44%);
    --font-color: hsl(52, 100%, 62%);
    --key-font-color: hsl(52, 100%, 62%);
    --reset-font-color: hsl(0, 0%, 100%);
    --equal-font-color: hsl(198, 20%, 13%);
}

/*font*/
* {
    font-family: 'League Spartan', sans-serif;
}

/*body properties*/

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*switch theme properties*/
.switch-table {}

.switch {
    background-color: var(--key-pad);
    padding: 5px;
    border-radius: 50px;
}

.theme-number-space {
    width: 100%;
    text-align: center;
    text-justify: center;
}

.theme-option {
    cursor: pointer;
    padding: 0px 5px;
    border: none;
    border-radius: 50%;
}

.first-option {
    background-color: var(--first-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

.second-option {
    background-color: var(--second-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
    margin-left: 8px;
}

.third-option {
    background-color: var(--third-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
    margin-left: 8px;
}

#theme-toggle {
    display: none;
}

/*navigations properties*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    color: var(--font-color);
    font-size: 24px;
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
}

nav p {
    margin: 18px 0 0 0;
    color: var(--font-color);
}

.switch-numbers {
    display: flex;
}

/*result bar*/
#result {
    /* width: 95%; */
    width: 394px;
    margin: 4px 0 20px 0;
    padding: 26px 16px 20px 16px;
    font-size: 40px;
    color: var(--font-color);
    text-align: end;
    border-style: none;
    border-radius: 10px;
    background-color: var(--screen);
}

/*table properties*/
.calc-table {
    border-collapse: separate;
    border-spacing: 16px;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--key-pad);
}

.key-space {
    width: 80px;
    height: 50px;
}

.calc-buttons {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-style: none;
    border-radius: 8px;
    font-size: 28px;
    text-align: center;
    text-justify: center;
    color: var(--key-font-color);
    background-color: var(--key-color);
    box-shadow: 0 4px 0 0 var(--key-shadow);
}

.calc-buttons:hover {
    filter: brightness(1.4);
}

.reset-key {
    background-color: var(--reset-key-color);
    box-shadow: 0 4px 0 0 var(--reset-key-shadow);
    color: var(--reset-font-color);
    font-size: 20px;
}

.equal-key {
    background-color: var(--equal-key-color);
    box-shadow: 0 4px 0 0 var(--equal-key-shadow);
    color: var(--equal-font-color);
}

@media (max-width: 430px) {
    #result {
        width: 312px;
    }

    .key-space {
        width: 60px;
        height: 60px;
    }
}