html {
    --background-color: #fff;
    --light-option: #BA324F;
    --dark-option: transparent;
    --custom-option: transparent;
}

html[data-theme="light"] {
    --background-color: #fff;
    --light-option: #BA324F;
    --dark-option: transparent;
    --custom-option: transparent;
    --font-color: #333;
}

html[data-theme="dark"] {
    --background-color: #333;
    --light-option: transparent;
    --dark-option: #BA324F;
    --custom-option: transparent;
    --font-color: #fff;
}

html[data-theme="custom"] {
    --background-color: #4BA3C3;
    --light-option: transparent;
    --dark-option: transparent;
    --custom-option: #BA324F;
    --font-color: #333;
}

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-option {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.light-option {
    background-color: var(--light-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

.dark-option {
    background-color: var(--dark-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

.custom-option {
    background-color: var(--custom-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle {
    display: none;
}

td{
    width: 50px;
}

input{
    width: 100%;
}