/*set html variables*/

html {
    --background-color: hsl(222, 26%, 31%);
    --first-option: #BA324F;
    --second-option: transparent;
    --third-option: transparent;
}

html[data-theme="light"] {
    --background-color: hsl(222, 26%, 31%);
    --first-option: #BA324F;
    --second-option: transparent;
    --third-option: transparent;
    --font-color: #333;
}

html[data-theme="dark"] {
    --background-color: #333;
    --first-option: transparent;
    --second-option: #BA324F;
    --third-option: transparent;
    --font-color: #fff;
}

html[data-theme="custom"] {
    --background-color: #4BA3C3;
    --first-option: transparent;
    --second-option: transparent;
    --third-option: #BA324F;
    --font-color: #333;
}

/*body properties*/

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background-color: var(--background-color);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*switch theme buttons properties*/

.theme-option {
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.first-option {
    background-color: var(--first-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

.second-option {
    background-color: var(--second-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

.third-option {
    background-color: var(--third-option);
    color: var(--font-color);
    transition: background-color 0.3s, color 0.3s;
}

#theme-toggle {
    display: none;
}

/*navigations properties*/

header {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

.switch-numbers {
    display: flex;
}

/*table properties*/

td {
    width: 50px;
}

.calc-buttons {
    width: 100%;
}